.section-about {
  background-color: $color-light-gray;
  padding: 23rem 0;
  margin-top: -25vh;
}

.section-features {
  padding: 20rem;
  background-image: linear-gradient(
      to right,
      rgba($primary-color-light, 0.8),
      rgba($primary-color-dark, 0.816)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -8rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-plans {
  background-color: $color-light-gray;
  padding: 18rem 0 9rem;
  margin-top: -8rem;
}

.section-stories {
  padding: 4rem 0;
  position: relative;
}
